<!-- start custom head snippets -->

<link rel="icon" type="image/png" href="{{ '/assets/images/WD_reworked.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/images/WD_reworked.png' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
{% assign page_lang = page.lang | default: site.data.product.locales.default %}
{% if page.translations %}
  {% for translation in page.translations %}
    <link rel="alternate" hreflang="{{ translation[0] }}" href="{{ translation[1] | absolute_url }}">
  {% endfor %}
{% endif %}

<!-- end custom head snippets -->
